<!-- footer -->
    <footer class="footer">
        <H2 class="curso">DESARROLLO WEB 2024</H2>
        <span class="estudiante">Angeles Cuy Quiché</span>
        <br>
        <span class="carnet">2290-19-9654</span>
    </footer>

    <script src="./JS/script.js"></script>