        <header>
            <div class="logo">
                <a href="#">ANGELES</a>
            </div>
            {{>navbar}}
            <div class="nav-responsive" onclick="mostrarOcultarMenu()">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>

