 <nav id="nav">
                <ul>
                    <li><a href="/#inicio" onclick="seleccionar()">INICIO</a></li>
                    <li><a href="/#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
                    <li><a href="/#skills" onclick="seleccionar()">HABILIDADES</a></li>
                    <li><a href="/#curriculum" onclick="seleccionar()">CURRICULUM</a></li>
                    <li><a href="/#portfolio" onclick="seleccionar()">PORTAFOLIO</a></li>
                </ul>
</nav>