<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Portafolio</title>
  
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/estilos.css">
    
    
</head>
<body>
    <!---------------------------------------------------------------------MENU ENCABEZADO--------------------------------------------------->
        <div class="contenedor-header">
             {{>header}}
        </div>
       

    <!----------------------------------------------------------------------SECCION DE INICIO---------------------------------------------------->
    <section id="inicio" class="inicio">
        <div class="lineaV"></div>
        <div class="contenido-banner">
            
            <div class="contenedor-img">
               <a href="#sobremi"> <img src="./IMG/Angeles.jpg" alt=""></a>
                <br>
            </div>
          <a href="/#sobremi"> <h1>ANGELES CUY QUICHE</h1></a>
            
            <h2>2290-19-9654</h2>
            <br>
            <h2>Estudiante de Ingeniería en Sistemas</h2>
            <br>
            <h2>UNIVERSIDAD MARIANO GALVEZ</h2>
            <br>
            <br>
            
        </div>
    </section>

    <!-------------------------------------------------------------------------------SOBRE MI---------------------------------------------------------->

    <section id="sobremi" class="sobremi">
        <h1>SOBRE MI</h1>
        <div class="contenido-seccion">
            <p> Mi nombre es Angeles Cuy Quiché, estudiante del octavo ciclo de Ingeniería en Sistemas de Información y Ciencias de la Computación con un fuerte interés en el desarrollo de software. 
            A lo largo de mi carrera universitaria, en la Universidad Mariano Gálvez de Guatemala he adquirido habilidades en programación, análisis de datos y gestión de proyectos, complementadas con una sólida base 
            en matemáticas aplicadas y teoría de la computación. Me considero una persona proactiva y con una gran capacidad para resolver problemas. Mi objetivo es contribuir a proyectos innovadores que mejoren la 
            eficiencia tecnológica y la seguridad informática, mientras sigo aprendiendo y creciendo profesionalmente en el campo de la ingeniería en sistemas.</p>
        </div>
        <h2>MI VISION</h2>
        <div class="Mision">
            <p> Es ser una líder innovadora y resiliente en tecnología, desarrollando soluciones éticas y de impacto social. 
            Aspiro a contribuir al avance de la tecnología con integridad, aprender constantemente, y motivar a más mujeres 
            a ingresar y destacar en el campo, generando un impacto positivo en la sociedad.</p>
        </div><br>
         <h2>OBJETIVOS PROFESIONALES</h2>
        <div class="Objetivos">
            <p>Aspiro a diseñar y crear aplicaciones de software que optimicen procesos empresariales mediante metodologías ágiles.</p>
            <p>Quiero contribuir a la creación de infraestructuras tecnológicas robustas que se adapten a las necesidades cambiantes de las empresas.</p>
        </div><br>
    
            </p>
                 <div class="fila">
                    <!--Datos Personales-->
                    <div class="col">
                            <h2>Datos Personales</h2>
                            <ul>
                                <li>
                                    <strong>Nombre</strong>
                                    Jennifer María de los Angeles Cuy Quiche
                                </li>
                                
                                <li>
                                    <strong>Fecha de nacimiento</strong>
                                    07/07/2001
                                </li>
                                <li>
                                    <strong>Nacionalidad</strong>
                                    Guatemala
                                </li>
                                
                                <li>
                                    <strong>Ocupacion</strong>
                                    <span>Estudiante Universitario</span> 
                                </li>
                            
                                <li>
                                    <strong>Email</strong>
                                    jcuyq@miumg.edu.gt
                                </li>
                              
                            </ul>
                    </div>
                    
                 </div>
                 <br>
        
            <br><br>
        </div>
    </section>

    <!-----------------------------------------------HABILLIDADES----------------------------------------------------------->

    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2>Habilidades</h2>
            <div class="fila">
                <!-- Technical Skill -->
                <div class="col">
                    <h3>Lenguajes de progamación </h3>

                    <div class="skill">
                        <span>C++</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>40%</span>
                            </div>
                        </div>
                    </div>


                    <div class="skill">
                        <span>C#</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>45%</span>
                            </div>
                        </div>
                    </div>


                    <div class="skill">
                        <span>HTML & CSS</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>65%</span>
                            </div>
                        </div>
                    </div>


                    <div class="skill">
                        <span>Javascript</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>45%</span>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Professional Skills -->
                <div class="col">
                    <h3>Tecnologías de información</h3>
                    <div class="skill">
                        <span>Git</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>50%</span>
                            </div>
                        </div>
                    </div>  


                    <div class="skill">
                        <span>Figma</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>75%</span>
                            </div>
                        </div>
                    </div>


                    <div class="skill">
                        <span>Cisco Packet Tracer</span>
                        <div class="barra-skill">
                            <div class="progreso">
                                <span>60%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!---------------------------------------------------------------------------------- SECCION CURRICULUM --------------------------------------------------->
    <section id="curriculum" class="curriculum">
        <div class="contenido-seccion">
            <h2>Curriculum</h2>
            <div class="fila">
                <div class="col izquierda">
                    <h3>EDUCACIÓN</h3>
                    <div class="item izq">
                        <h4>Nivel Primario</h4>
                        <span class="casa">Escuala Ofiial Urbana Mixta, Santa María Visitación</span>
                        <span class="fecha">2007-2009</span>
                        <p>En esta etapa de aprendizaje es la parte en la que fui aprendiendo y adentrándome al maravilloso mundo del aprendizaje, etapa en la que se nos fomenta
                        e inculcan valores de compañerismo y ponemos en práctica los buenos principios aprendidos en casa</p>
                        </p>
                    </div>
                    <div class="item izq">
                        <h4>Nivel Primario</h4>
                        <span class="casa">Escuala Ofiial Rural Mixta, Cantón Xiprián</span>
                        <span class="fecha">2010-2011</span>
                        <p>Este fue el primer cambio que tuve en mi ciclo de aprendizaje pero en el apredi a poder adaptarme de manera positiva en un ambiente distinto y tomar ese 
                        cambio como una etapa más</p>
                        </p>
                    </div>
                    <div class="item izq">
                        <h4>Nivel Primario</h4>
                        <span class="casa">Escuala Ofiial Urbana Mixta, Santa María Visitación</span>
                        <span class="fecha">2012-2013</span>
                        <p>Nuevamente surgió un cambio dentro de mi etapa de nivel primario, fue una etapa en la que aprendi demasiado y pude adaprtarme a nuevos compañeros, profesores
                        y cabe resaltar que siempre busque la manera de poder destacar en mi nivel académico.</p>
                    </div>
                    <div class="item izq">
                        <h4>Ciclo Básico</h4>
                        <span class="casa">Centro Educativo Comunitario (CEDCOM)</span>
                        <span class="fecha">2014 - 2016</span>
                        <p>Comence en el ciclo académic una nuevo etapa en el que el porcentaje de responsabilida aumento, donde cada vez sentía que paso a paso por más pequeño, me acercaba
                        cada vez más a la gran meta que hoy día estoy cumpliendo, ser una estudiante de Ingeniería. </p>
                    </div>
                    <div class="item izq">
                        <h4>Ciclo Diversificado</h4>
                        <span class="casa">Instituto Nacional de Educacion Diversificada (INED)</span>
                        <span class="fecha">2017 - 2018</span>
                        <p>Dentro de esta etapa se culmina mi preparación académica para poder ingresar y seguir formando pero de una manera más profesional, en el ambito en el que quiero
                        desarrollarme, esta etapa me ayudo a poder tener una base que me ayudaría a poder adaptarme con un poco más de facilidad a la Universidad.</p>
                    </div>
                    <div class="item izq">
                        <h4>Nivel Superior</h4>
                        <span class="casa">Universidad Mariano Gálvez de Guatemala</span>
                        <p>Al ingresar a la Universidad fue un reto enorme en el que debía superar semestre tras semtrestre, cada uno de ellos ha estado lleno de aprendizaje y conocimientos 
                        nuevos adquiridos, es importante resaltar que hice una excelente elección al decidir optar por esta carrera ya que es de la tecología y su evolución de cada día
                        desde lo fisico hasta lo lógico.
                        </p>
                    </div>
                </div>
                <div class="col derecha">
                    <h3>RECONOCIMIENTOS</h3>
                    <div class="item der">
                        <h4>Reconocimiento por destacada participacion</h4>
                        <span class="casa">Banrural</span>
                        <span class="fecha">2010</span>
                        <p>En esta participacipación fui en representación de mi Escuela para participar en el evento de "Gerente por un día"
                        organizado por BANRURAL</p>
                    </div>
                    <div class="item der">
                        <h4>RECONOCIMIENTO</h4>
                        <span class="casa">INED</span>
                        <span class="fecha">2017-2018</span>
                        <p>Me otrogaron un reconicimiento por ser abanderada en el nivel diversificado, en el Instituto Nacional de Educación
                        Diversificada (INED) </p>
                    </div>
                </div>
                <div class="col derecha">
                    <h3>HABILIDADES</h3>
                    <div class="item der">
                        <h4>Habilidad Técnica</h4>
                        <span class="casa">C++</span>
                        <p>Dentro de este lenguaje de programacion me considero capaz de manejarlo y desarrollar en el un 45%.</p>
                    </div>
                <div class="col derecha"></div>
                    <div class="item der">
                        <h4>Habilidad Técnica</h4>
                        <span class="casa">Java</span>
                        <p>Dentro de este lenguaje de programacion me considero capaz de manejarlo y desarrollar en el un 60%.</p>
                    </div>
                <div class="col derecha"></div>
                    <div class="item der">
                        <h4>Habilidad Técnica</h4>
                        <span class="casa">HTML - CSS</span>
                        <p>Para la creación y diseño de una pagina web con el lenguaje de marcado y la hoja de estilo, considero
                        que puedo desarrollar en el con un 65%.</p>
                    </div>
                <div class="col derecha"></div>
                    <div class="item der">
                        <h4>Habilidad Profesional</h4>
                        <span class="casa">Creatividad</span>
                        <p>Me considero una persona creativa al momento de tener que desarrolar alguna actividad laboral.</p>
                    </div>
                <div class="col derecha"></div>
                    <div class="item der">
                        <h4>Habilidad Profesional</h4>
                        <span class="casa">Comunicación</span>
                        <p>Me considero una persona sociable al momento de tener que entablar una conversación con algún grupo de trabajo.</p>
                    </div>
                <div class="col derecha"></div>
                    <div class="item der">
                        <h4>Habilidad Profesional</h4>
                        <span class="casa">Trabajo en Equipo</span>
                        <p>Dentro de algún grupo de trabajo me gusta mantener la armonía con cada uno de los miembros para de esa forma tener 
                        un buen ambiente laboral.</p>
                        </div>
                    </div>
                </div>
            </div>
    </section>

    <!------------------------------------------------------------------------- SECCION PORTFOLIO -------------------------------------------------->
    <section id="portfolio" class="portfolio">
        <div class="contenido-seccion">
            <h2>PORTAFOLIO</h2>
            <div class="galeria">

            <a class="Espacio" href="/Sysinfo">
                <div class="proyecto">
                    <img src="IMG/p1.jpg" alt="">
                    <div class="overlay">
                        <h3>SYSINFO</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Farmacia">
                <div class="proyecto">
                    <img src="IMG/p2.jpg" alt="">
                    <div class="overlay">
                        <h3>FARMACIA</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/AnalizadorLexico">
                <div class="proyecto">
                    <img src="IMG/p3.jpg" alt="">
                    <div class="overlay">
                        <h3>ANALIZADOR LEXICO</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Cafeteria">
                <div class="proyecto">
                    <img src="IMG/P4.jpg" alt="">
                    <div class="overlay">
                    <h3>CAFETERIA</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Mru-Mruv">
                <div class="proyecto">
                    <img src="IMG/Principal.jpg" alt="">
                    <div class="overlay">
                        <h3>MRU-MRUV</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Packet-Tracer">
                <div class="proyecto">
                    <img src="IMG/Cisco1.jpg" alt="">
                    <div class="overlay">
                        <h3>Cisco Packet Tracer</h3>
                    </div>
                </div>
            </a>

             <a class="Espacio" href="/Paginaweb">
                <div class="proyecto">
                    <img src="IMG/Etica1.jpg" alt="">
                    <div class="overlay">
                        <h3>Página Web Etica Profesional</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Yargs">
                <div class="proyecto">
                    <img src="IMG/Yargs3.jpg" alt="">
                    <div class="overlay">
                        <h3>Aplicación Yargs</h3>
                    </div>
                </div>
            </a>

            <a class="Espacio" href="/Webserver">
                <div class="proyecto">
                    <img src="IMG/Webserver1.jpg" alt="">
                    <div class="overlay">
                        <h3>WebServer</h3>
                    </div>
                </div>
            </a>
                
            </div>
        </div>
    </section>

    {{>footer}}
</body>
</html>