<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
     integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" 
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Cafeteria</title>
    <link rel="stylesheet" href="CSS/normalize.css">
    <link rel="stylesheet" href="CSS/estiloProyecto.css">
    <link rel="stylesheet" href="CSS/estilos.css">
</head>
<body>
    

    <div class="contenedor-header">
             {{>header}}
        </div>
       

<section id="portfolio" class="portfolio">
    <div class="contenido-seccion">
        <br>
        <br>

    <div class="tituloP">
        <h2>Cisco Packet Tracer</h2>
    </div>

        <div class="definicion">
            <span>Estos ejercicios nos muestra los diferentes tipos de topologías trabajados en Cisco Packet Tracer.</span>
        </div>
        <div class="galeria">

             
                <div class="proyecto">
               <img src="IMG/Cisco1.jpg"  alt="">
              <div class="descripcion">
                    <h3>TOPOLOGIAS</h3>
                    <p>Nos muestra un tipo de topología que es la de bus</p>
                </div>
            </div>
        
             <div class="proyecto">
                <img src="./IMG/Cisco2.jpg"  alt="">
               <div class="descripcion">
                     <h3>TOPOLOGIAS</h3>
                     <p>Nos muestra un tipo de topología que es la de anillo</p>
                 </div>
             </div>


             <div class="proyecto">
                <img src="./IMG/Cisco3.jpg"  alt="">
               <div class="descripcion">
                     <h3>TOPOLOGIAS</h3>
                     <p>Nos muestra un tipo de topología que es la de arbol</p>
                 </div>
             </div>

             <div class="proyecto">
                <img src="IMG/Cisco4.jpg"  alt="">
                <h1>TOPOLOGIA</h1>
                <p>Nos muestra un tipo de topología que es la de </p>
        </div>        
        </div>
    </div>
</section>
     {{>footer}}
</body>
</html>